@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.Loading {
    color: #000000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 120%;
    margin : 2%;
}

.Board{
    margin-left: 28%;
}

label {
    color: #000000;
    font-family: 'Nanum Myeongjo', serif;
    font-size : 20px;
}

.Board--content{
    color: #000000;
    font-family: 'Nanum Myeongjo', serif;
    font-size : 20px;
    font-weight: lighter;
}